NEXT_PUBLIC_OPENAIKEY=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_EXA=optional;
NEXT_PUBLIC_API_SUP=optional-for-FEPL-scores
REACT_APP_INFURA_PROJECT_ID=
REACT_APP_INFURA_PROJECT_SECRET=
NEXT_PUBLIC_PINTATAJWT=optional - used for fav_team pinning
NEXT_PUBLIC_PINTATAGATEWAY=optional
KV_REST_API_URL= used for notifications in warpcast
KV_REST_API_TOKEN= used for notifications in warpcast
NEXT_PUBLIC_NOTIFICATION_API_KEY=used for notifications in warpcast
NEYNAR_API_KEY=optional
NEXT_PUBLIC_HEADER=
NEXT_PUBLIC_PAYLOAD=
NEXT_PUBLIC_SIGNATURE=
NEXT_PUBLIC_AIRSTACK_API_KEY=optional
GEMINI_API_KEY=optional
NEXT_PUBLIC_PRIVY_APP_ID=

