NEXT_PUBLIC_OPENAIKEY=
NEXT_PUBLIC_API_SUP=
REACT_APP_INFURA_PROJECT_ID=
REACT_APP_INFURA_PROJECT_SECRET=

NEXT_PUBLIC_PINTATAJWT=
NEXT_PUBLIC_PINTATAGATEWAY=
NEXT_PUBLIC_HEADER=
NEXT_PUBLIC_PAYLOAD=
NEXT_PUBLIC_SIGNATURE=

KV_REST_API_URL=
KV_REST_API_TOKEN=

NOTIFICATION_API_KEY=
NEYNAR_API_KEY=


